*{
    box-sizing: border-box ; 
}

body {
    margin: 0 
}

.header { 
    background-image: url(makeup2.jpg);
    min-height:400px;
    background-size: cover;
    position: relative; 
    margin: 0; 
    padding: 0 ; 
    text-align: center;
        
    
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    color: white; 
/*    background-color: rgba(0 , 0 , 0 , 0.5)*/
}

.header {
    color: white; 
}

.header .plan {
    color: white; 
    border: solid #fff 2px ; 
    width: 50%; 
    float: left; 
    font-size: 20px
    
}


@media (max-width: 767px) {
    
    .header .plan { 
        float: none; 
        
        margin: 10px auto ; 
       
    
    }
    
}





















